<section class="column">

  <p> <%= @message %></p>

  <iframe class="videoWrapper" src="//www.youtube.com/embed/<%= @video_query %>" frameborder="0" allowfullscreen></iframe>

  <p>Rating: <%= @video.rating %> out of 5</p>
</section>

<section class="column mediaShow">
  <p>
    <a href="<%= @video.url %>"> <%= @video.url %></a>

    <a href="/videos/<%= @video.id %>/edit">(Edit)</a>
  </p>

  <p class="comment"><%= simple_format @video.description %></p>
  <button id="button" class="delete">Delete Picture</button>
</section>
