<h2>Add a Picture</h2>

<%= form_for @picture do |f| %>
  <% if @picture %>
    <% if @picture.errors %>
      <% @picture.errors.messages.each do |_, v| %>
        <p class="error"><%= v.first %></p>
      <% end %>
    <% end %>
  <% end %>
  <table class="newMedia">
    <tr>
      <td><%= f.label "URL of picture" %></td>
      <td><%= f.text_field :url %></td>
    </tr>
    <tr>
      <td class="textareaLabel"><%= f.label "Short description" %></td>
      <td><%= f.text_area(:description, rows: 6) %></td>
    </tr>
    <tr>
      <td><%= f.label "Rating" %></td>
      <td><%= f.text_field(:rating, class: "shortInput" )%></td>
    </tr>
  </table>
  <%= f.submit "Create Picture", id: "button" %>
<% end %>
