<h2>Add a Picture</h2>

<%= form_for @picture do |f| %>


  <table class="newMedia">
    <tr>
      <td><%= f.label "URL of Video" %></td>
      <td><%= f.text_field :url %></td>
    </tr>
    <tr>
      <td class="textareaLabel"><%= f.label "Short Description" %></td>
      <td><%= f.text_area(:description, rows: 6) %></td>
    </tr>
    <tr>
      <td><%= f.label "Raiting" %></td>
      <td><%= f.text_field(:rating, class: "shortInput" )%></td>
    </tr>
  </table>
  <%= f.submit "Create Picture", id: "button" %>
<% end %>
