

<section class="column">
  <p class="pictureWrapper"><img src="<%= @picture.url %>"/></p>
  <p>Rating: <%= @picture.rating %> out of 5</p>
</section>

<section class="column mediaShow">
  <p><%= @picture.url %> <a href="/pictures/<%= @picture.id %>/edit">(Edit)</a></p>
  <p><%= simple_format @picture.description %></p>
  <%=link_to "Delete Picture", picture_path(@picture), method: :delete, id: "button", class: "delete"%>
</section>


